matplotlib==3.10.8
Pillow==12.0.0
scikit_learn==1.8.0
seaborn==0.13.2
torch==2.8.0
torchmetrics==1.8.2
torchvision==0.23.0
tqdm==4.67.1
split-folders
pyngrok
protobuf<=3.20.1

#tensorboard --logdir="Path To Your Logs For Model(n)" --port 6006
